<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gossip.query.mapper.CommentMapper">

	
	<!-- comment_info的resultMap -->
	<resultMap type="CommentInfo" id="CommentInfoMap">
		<result property="commentId" column="comment_id" jdbcType="BIGINT"/>
		<result property="commentText" column="comment_text" jdbcType="CLOB"/>
	</resultMap>
	<!-- comment的resultMap -->
	<resultMap type="CommentVo" id="commentMap">
		<id property="commentId" column="comment_id" jdbcType="BIGINT"/>
		<result property="postId" column="post_id" jdbcType="BIGINT"/>
		<result property="commentTime" column="comment_time" jdbcType="DATE"/>
		<result property="userId" column="user_id" jdbcType="BIGINT"/>
		<result property="image" column="image" jdbcType="VARCHAR"/>
		<collection property="commentInfo" ofType="CommentInfo" 
		            javaType="CommentInfo"
		            resultMap="CommentInfoMap"></collection>
	</resultMap>
	
		<select  id="findCommentAndInfoByPostId"
			   	parameterType="java.lang.Long"
	       		  resultMap="commentMap">
	select
		c.comment_id,
		c.post_id,
		c.comment_time,
		c.user_id,
		c.image,
		ci.comment_text
	from comment c
	left join comment_info ci on c.comment_id=ci.comment_id
	where c.post_id=#{postId}
	</select>	  
	        
</mapper>